.openseadragon h2,.openseadragon p,.openseadragon ul,.openseadragon_viewer h2 {
	display: none;
}
.openseadragon-container textarea, .openseadragon-container button {
	box-shadow: none;
	-webkit-box-shadow: none;
}